<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

<title>About</title>
</head>
<body>
    <div>
        {{>header}}
        <p>This site was created by Saurabh Kasar. </p> 
        <p>It uses data from mapbox.com and Darksky.net to show weather of a location!</p>
        
    </div>
    
    {{>footer}}
</body>
</html>